<footer class="f-info mt-auto">
  <div class="f-info-socials">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
  </div>

  <div class="f-info-brand">
    © 2026 Wandershub
  </div>

  <div class="f-info-links">
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
    <a href="#">Contact</a>
  </div>
</footer>
