body{
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}
.container{
  flex: 1 !important;
}
.navbar {
  height: 5rem;
}
.fa-compass {
  color: red;
  font-size: 2rem;
}
.nav-link {
  color: black !important;
  font-weight: bold !important;
}
/* footer */
.f-info-links a {
  text-decoration: none;
  color: black;
  margin-right: 1rem;
}

.f-info-links a:hover {
  text-decoration: underline;
  color: black;
}
.f-info-links,.f-info-socials,.f-info-brand {
 width: 100%;
 display: flex;
 align-items: center;
  justify-content: center;
}

.f-info-socials i{
  font-size: 1.5rem;
  opacity: 0.8;
  margin-right: 1rem;
}
.f-info-socials i:hover{
  opacity: 1;
}
.f-info{
  text-align: center;
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}
.card{
  border: none !important;
  margin-bottom: 2rem;
}
.card:hover{
  box-shadow: 5px 5px 8px black !important;
}
.card-img-top{
  border-radius: 1rem !important; 
  width: 100%;
  object-fit: cover !important;
}
.card-body{
  padding: 0 !important;
}
.card-text{
  font-family: arial,'Poppins', sans-serif !important;
  font-weight: 400 !important;
}
.card-img-overlay{
  opacity: 0;
}
.card-img-overlay:hover{
  opacity: 0.2 !important;
  background-color: white;
}
  .add-btn{
 background-color: red !important;
 color: white !important;
  border: none !important; 
}
.add-btn:hover{
  opacity: 0.9;
}
.edit-btn{
  background-color: red !important;
  color: white !important;
  border: none !important;
}
.edit-btn:hover{
  opacity: 0.9;
}

/* show page */
.show-img{
  height: 30vh;
}

.btns{
  display: flex;
}
.show-card{
  padding-left:0 !important;
  padding-right:0 !important;
}